/* Caroline Start */
body {
  background-color: white;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin:0;
}
/* font-family: 'Aclonica', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Righteous', sans-serif; */
.head {
  position: fixed;
  top: 300px;
  right: 20px;
  z-index: 1;
  width: 70px;
  height: 70px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  transform: rotate(-45deg);
  margin-top: 20px;
}

.progress-container {
  background-color: rgba(150, 150, 150, 0.2);
  width: 100%;
  width: 70px;
  height: 70px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  overflow: hidden;
}

.progress-bar {
  background-color: #60CBFF;
  width: 100%;
  width: 90px;
  height: 90px;
  transform: rotate(-45deg);
  overflow: hidden;
}
.blue-section {
  background: linear-gradient(60deg, #3664F4 0%, #60CBFF 100%);
}
.logo{
  float: left;
  margin: 30px auto 50px 20px;
}
.button1 {
  float: right;
  margin: 30px 20px 50px auto;
  border: 1px;  
  border-style: solid;
  width: 255px;
  height: 70px;
  font-family: 'Righteous', sans-serif;
  font-size: 32px;
  border-radius: .25em;
  box-shadow: 5px 5px rgba(0, 43, 180, 0.25);
  border-color: #ff7c1f;
  color: white;
  padding: 5px;
  background-size: 200% 200%;
  background-image: 
    linear-gradient(to top, #3664F4 50%, #ff7c1f 50%);
  transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
}
.button1:hover {
  color: #60CBFF;
  border-color: #3664F4;
  background-image: 
    linear-gradient(to top, #3664F4 51%, #ff7c1f 50%);
  background-position: 0 100%;
  transition: background-position 500ms, color 150ms ease, border-color 250ms ease;
}
h1 {
  font-family: 'Righteous', sans-serif;
  color: #002BB4;
  font-size: 150px;
  line-height: 140px;
  margin: auto auto 75px 16rem;
  padding-top: 150px;
}
.and {
  position: absolute;
  top:0;
  left:1060px;
  color: #002BB4;
  font-size: 150px;
  font-family: 'Aclonica', sans-serif;
}
h2 {
  font-family: 'Righteous', sans-serif;
  color: #3664F4;
  font-size: 150px;
  line-height: 140px;
  margin: auto auto auto 16rem;
  background: -webkit-linear-gradient(#BADDED, #3664F4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3 {
  font-family: 'Righteous', sans-serif;
  color: #3664F4;
  font-size: 150px;
  line-height: 140px;
  margin: auto auto auto 16rem;
}
h4 {
  font-family: 'Righteous', sans-serif;
  color: #3664F4;
  font-size: 96px;
  line-height: 100px;
  margin: auto auto auto 16rem;
}
.support {
  position: relative;
}
.support h2 {
  margin: 200px 0 0 16rem;
  padding-bottom: 40px;
}
.support p{
  font-family: 'Righteous', sans-serif;
  color: #60CBFF;
  font-size: 80px;
  line-height: 80px;
  margin: 0 auto 75px 16rem;
  width: 1040px;
}
.button2 {
  border: 1px;  
  border-style: solid;
  width: 475px;
  height: 129px;
  font-family: 'Righteous', sans-serif;
  font-size: 60px;
  border-radius: .25em;
  box-shadow: 5px 5px rgba(0, 43, 180, 0.25);
  border-color: #ff7c1f;
  color: white;
  padding: 5px;
  background-size: 200% 200%;
  background-image: 
    linear-gradient(to top, #60CBFF 50%, #ff7c1f 50%);
  transition: background-position 500ms, color 500ms ease, border-color 250ms ease;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.find-button {
  margin: 75px 0 75px 0;
}
.button2:hover {
  color: #3664F4;
  border-color: #60CBFF;
  background-image: 
    linear-gradient(to top, #60CBFF 51%, #ff7c1f 50%);
  background-position: 0 100%;
  transition: background-position 500ms, color 500ms ease, border-color 250ms ease;
}
.container-button {
  position: relative;
}
.people {
  width: 1000px;

}
.facts-section {
  margin: 500px auto auto auto;
}
.facts {
  margin-bottom: 150px;
}


/* Squiggle */
a {
  font-weight: 800;
  color: #60CBFF;
  padding-bottom: 15px;
  background: url("../images/wave.svg");
  fill: #60CBFF !important;
  background-repeat: repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  background-repeat: repeat-x;
  background-size: 90px 85px; 
  background-position: 2px 19px;
  animation: move 15s linear infinite;
  -webkit-animation: move 15s linear infinite;
  animation-play-state: paused;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  animation-play-state: running;
}


@-webkit-keyframes move {
from {
    background-position: 2px 145px;
  }
  to {
    background-position: 500px 145px;
  }
}

@keyframe move {
from {
    background-position: 2px 145px;
  }
  to {
    background-position: 500px 145px;
  }
}




.essential {
  margin-bottom: 300px;
}
.yet {
  margin-bottom: 40px;
}
.counter {
  font-family: 'Righteous', sans-serif;
}
.stats {
  font-family: 'Righteous', sans-serif;
  color: #3664F4;
  font-size: 96px;
  line-height: 120px;
  border: 1px solid black;
}
.big-num {
  color: #252525;
  font-size: 144px;
  line-height: 100px;
}
.small-num {
  border: 1px solid black;
}
.small-num p {
  color: #252525;
  font-size: 96px;
  line-height: 20px;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 40%;
  padding: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.isolated {
  font-family: 'Righteous', sans-serif;
  color: #60CBFF;
  font-size: 96px;
  line-height: 100px;
  margin: 400px auto 0 16rem;
  width: 1000px;
}
.map {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
   margin: 4050px auto 200px auto;
}
.changes {
  margin-top: 1100px;
  margin-bottom: 200px;
  width: 1000px;
}
.access{
  margin-top: 500px;
  margin-bottom: 200px;
  width: 1100px;
}
.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}
/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
}





.block {
  height: 5em;
  line-height: 5em;
  width: 10em;
  color: pink;
  text-align: center;
  margin: 1em auto;
}

.animatable {
  
  /* initially hide animatable objects */
  visibility: hidden;
  
  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;   
  -moz-animation-play-state: paused;     
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;   
  animation-play-state: paused; 
}

/* show objects being animated */
.animate-in {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

.animate-out {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;

  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse;
}

.animate-out:after {
  letter-spacing: inherit;
}


@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-in.animationDelay, .animate-out.animationDelay {
	animation-delay:.4s;
	-webkit-animation-delay:.4s;
}
.animate-in.animationDelayMed, .animate-out.animationDelayMed {
	animation-delay:1.2s;
	-webkit-animation-delay:1.2s;
}
.animate-in.animationDelayLong, .animate-out.animationDelayLong {
	animation-delay:1.6s;
	-webkit-animation-delay:1.6s;
}
.animate-in.fadeInUp, .animate-out.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.box {
  position: relative;
  width: 400px;
  max-width:30%;
  height: 400px;
  display: flex;
  float: left;
  margin: 200px 0 0 16rem;
}

.box:hover {
  transform: scale(1.1);
}

.box .percent svg {
  position: relative;
  width: 350px;
  height: 350px;
  transform: rotate(-90deg);
}

.box .percent svg circle {
  width: 400px;
  height: 400px;
  fill: none;
  stroke-width: 20;
  transform: translate(15px, 10px);
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  stroke-linecap: round;

}

.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #D9F3FF;
}

.box .percent.job svg circle:nth-child(2) {
  stroke-dashoffset: calc(600 - (600 * 25) / 100);;
  stroke: #60CBFF;
  transition: 0.2s linear;
}

.box .percent.job svg circle:nth-child(3) {
  stroke-dashoffset: calc(600 - (600 * 0) / 100);;
  stroke: #002BB4;
  transition: 0.2s linear;
}

.box:hover .percent.job svg circle:nth-child(3) {
  stroke-dashoffset: calc(600 - (600 * 25) / 100);;
  stroke: #3664F4;
}


.box .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 300;
  height: 250;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Righteous', sans-serif;
  color: #3664F4;
  font-size: 50px;
}
.percent .number p {
  font-size: 3.4em;
  margin: 60px 0 0 40px;
}
.box .percent .number p span {
  font-size: 0.5em;
}
@media only screen and (max-width: 800px) {
  .content {
    flex-direction: column;
  }
}

/* Caroline End */

/* Caylee Start */

.textScroll {
  position: relative;
  height: 150px;
  overflow:hidden;
  margin: 5px auto 0px auto;
}
.visible {

  overflow:hidden;
  height:150px;
  padding:0 0px;

  &:before {
    content:'[';
    left: 0;
    line-height:40px;
  }
  &:after {
    content:']';
    position:absolute;
    right: 0;
    line-height:40px;
  }
  &:after, &:before {
    position:absolute;
    top:0;
    color:#16a085;
    font-size:42px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;

  }
}

.visible ul {
  margin-top:0;
  padding-left: 0px;
  text-align:left;
  list-style:none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.visible ul li {
  line-height:150px;
  margin:0;
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}
} 
.bubble1 {
  width: 466px;
  margin: 100px auto 0px 16rem;
}
.bubble1 p {
  margin-left: -50px;
}
 p {
  font-family: 'lato';
  font-size: 24px;
  width: 300px;
  margin-top: -100px;
}

h5 {
  font-family: 'Righteous', sans-serif;
  color: #002BB4;
  font-size: 64px;
  line-height: 55px;
  margin-top: -180px;
  margin-left: 30px;
}
.bubble2 {
  width: 466px;
  margin: -150px 16rem 75px 800px;
}
.bubble2 h5 {
  padding-top: 40px;
  margin-bottom: 175px;
}
.bubble2 p {
  margin-left: -50px;
}
.bubble3 {
  width: 466px;
  margin: -150px auto 0px 16rem;
}
.bubble3 h5{
  padding-left: 100px;
}
.bubble4 {
  width: 466px;
  margin: -150px 16rem 75px 800px;
}
.bubble4 h5 {
  padding-top: 40px;
  margin-bottom: 125px;
}
.bubble4 p {
  margin-left: -60px;
  margin-top: o;
}
.break {
  height: 400px;
}
.solution {
  margin-right: 16rem;
}
div {
  margin: 175px auto;
}

.drop {
  position: relative;
	width: 20px;
	height: 20px;
  top: -30px;
  margin: 0 auto;
	background: #3664F4;
  z-index: -20;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
  -moz-animation-name: drip;
  -webkit-animation-name: drip;
  animation-name: drip;
  -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
  -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
  animation-timing-function: cubic-bezier(1,0,.91,.19);
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.drop:before {
  content: "";
  position: absolute;
  width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 30px solid rgba(255,255,255,1);
  top: -22px;
}

.wave {
  position: relative;
  opacity: 0;
  top: 0;
	width: 2px;
	height: 1px;
  border: #3664F4 7px solid;
	-moz-border-radius: 300px / 150px;
	-webkit-border-radius: 300px / 150px;
	border-radius: 300px / 150px;
  -moz-animation-name: ripple;
  -webkit-animation-name: ripple;
  animation-name: ripple;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.wave:after {
  content: "";
  position: absolute;
  opacity: 0;
  top: -5px;
  left: -5px;
	width: 2px;
	height: 1px;
  border: #3664F4 5px solid;
	-moz-border-radius: 300px / 150px;
	-webkit-border-radius: 300px / 150px;
	border-radius: 300px / 150px;
  -moz-animation-name: ripple-2;
  -webkit-animation-name: ripple-2;
  animation-name: ripple-2;
  -moz-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes ripple {
    from {
      opacity: 1;
    }
    to {
      width: 600px;
      height: 300px;
      border-width: 1px;
      top: -100px;
      opacity: 0;
    }
}

@keyframes ripple-2 {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  100% {
    width: 200px;
    height: 100px;
    border-width: 1px;
    top: 100px;
    left: 200px;
  }
}

@keyframes drip {
    to {
      top: 190px;
    }
}
/* Caylee End */

/* Jay Start */
.share1 img{
  width: 466px;
  margin: 100px auto 0px 16rem;
}
.share2 img{
  width: 466px;
  margin: -150px 16rem 75px 800px;
}
.share3 img{
  width: 466px;
  margin: -150px auto 0px 16rem;
}

/* Jay End */
