/* Caroline Start */
@import "style.sass";


body {
  background-color: white;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin:0;
}
/* font-family: 'Aclonica', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Righteous', sans-serif; */

/* Water drop scroll */
.head {
  position: fixed;
  top: 300px;
  right: 20px;
  z-index: 1;
  width: 70px;
  height: 70px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  transform: rotate(-45deg);
  margin-top: 20px;
}

.progress-container {
  background-color: rgba(150, 150, 150, 0.2);
  width: 100%;
  width: 70px;
  height: 70px;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  overflow: hidden;
}

.progress-bar {
  background-color: #60CBFF;
  width: 100%;
  width: 70px;
  height: 100px;
  transform: rotate(-45deg);
  overflow: hidden;
}
/* end */
/* Hero section */
.blue-section {
  background: linear-gradient(60deg, #3664F4 0%, #60CBFF 100%);
}
.logo{
  float: left;
  margin: 30px auto 50px 20px;
}
.button1 {
  float: right;
  margin: 30px 20px 50px auto;
  border: 1px;  
  border-style: solid;
  width: 255px;
  height: 70px;
  font-family: 'Righteous', sans-serif;
  font-size: 32px;
  border-radius: .25em;
  box-shadow: 5px 5px rgba(0, 43, 180, 0.25);
  border-color: #ff7c1f;
  color: white;
  padding: 5px;
  background-size: 200% 200%;
  background-image: 
    linear-gradient(to top, #3664F4 50%, #ff7c1f 50%);
  transition: background-position 500ms, color 500ms ease, border-color 500ms ease;
}
.button1:hover {
  color: #60CBFF;
  border-color: #3664F4;
  background-image: 
    linear-gradient(to top, #3664F4 51%, #ff7c1f 50%);
  background-position: 0 100%;
  transition: background-position 500ms, color 150ms ease, border-color 250ms ease;
}
h1 {
  font-family: 'Righteous', sans-serif;
  color: #002BB4;
  font-size: 150px;
  line-height: 140px;
  margin: auto auto 75px 16rem;
  padding-top: 150px;
}
.and {
  position: absolute;
  top:120px;
  left:1060px;
  color: #002BB4;
  font-size: 150px;
  font-family: 'Aclonica', sans-serif;
}
h2 {
  font-family: 'Righteous', sans-serif;
  color: #3664F4;
  font-size: 150px;
  line-height: 140px;
  margin: auto auto auto 16rem;
  background: -webkit-linear-gradient(#BADDED, #3664F4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3 {
  font-family: 'Righteous', sans-serif;
  color: #3664F4;
  font-size: 150px;
  line-height: 140px;
  margin: auto auto auto 16rem;
}
h4 {
  font-family: 'Righteous', sans-serif;
  color: #3664F4;
  font-size: 96px;
  line-height: 100px;
  margin: auto auto auto 16rem;
}
h5 {
  font-family: 'Righteous', sans-serif;
  color: #fff;
  font-size: 35px;
  line-height: 50px;
}
.support {
  position: relative;
}
.support h2 {
  margin: 200px 0 0 16rem;
  padding-bottom: 40px;
}
.support p{
  font-family: 'Righteous', sans-serif;
  color: #60CBFF;
  font-size: 80px;
  line-height: 80px;
  margin: 20px auto 75px 16rem;
  width: 1300px;
}
.button2 {
  border: 1px;  
  border-style: solid;
  width: 475px;
  height: 129px;
  font-family: 'Righteous', sans-serif;
  font-size: 60px;
  border-radius: .25em;
  box-shadow: 5px 5px rgba(0, 43, 180, 0.25);
  border-color: #ff7c1f;
  color: white;
  padding: 5px;
  background-size: 200% 200%;
  background-image: 
    linear-gradient(to top, #60CBFF 50%, #ff7c1f 50%);
  transition: background-position 500ms, color 500ms ease, border-color 250ms ease;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.find-button {
  margin: 75px 0 75px 0;
}
.button2:hover {
  color: #3664F4;
  border-color: #60CBFF;
  background-image: 
    linear-gradient(to top, #60CBFF 51%, #ff7c1f 50%);
  background-position: 0 100%;
  transition: background-position 500ms, color 500ms ease, border-color 250ms ease;
}
.container-button {
  position: relative;
}
.people {
  width: 1000px;
  margin-bottom: 350px;

}
.locations {
  width: 1300px;
  font-family: 'Righteous', sans-serif;
  color: #3664F4;
  font-size: 66px;
  line-height: 70px;
  margin: 1000px auto auto 16rem;
  

}
.facts-section {
  margin: 500px auto auto auto;
}
.facts {
  margin-bottom: 150px;
}


/* Squiggle */
.squiggle a {
  font-weight: 800;
  color: #60CBFF !important;
  padding-bottom: 15px;
  background: url("../images/wave.svg");
  fill: #60CBFF !important;
  background-repeat: repeat;
  background-position-x: 0%;
  background-position-y: 0%;
  background-size: auto auto;
  background-repeat: repeat-x;
  background-size: 90px 85px; 
  background-position: 2px 19px;
  animation: move 15s linear infinite;
  -webkit-animation: move 15s linear infinite;
  animation-play-state: paused;
  text-decoration: none !important;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  animation-play-state: running;
}



@-webkit-keyframes move {
from {
    background-position: 2px 145px;
  }
  to {
    background-position: 500px 145px;
  }
}

@keyframe move {
from {
    background-position: 2px 145px;
  }
  to {
    background-position: 500px 145px;
  }
}


.essential {
  margin-bottom: 300px;
}

.yet {
  margin-bottom: 40px;
}
.counter {
  font-family: 'Righteous', sans-serif;
}
.stats {
  font-family: 'Righteous', sans-serif;
  color: #3664F4;
  font-size: 96px;
  line-height: 120px;
  margin: 0px auto 0px 0px;
}
.big-num {
  color: #252525;
  font-size: 144px;
  line-height: 100px;
  margin: 0 0 0 16rem;
}

.small-num p {
  color: #252525;
  font-size: 96px;
  line-height: 70px;
  margin: 35px auto 35px auto;
}
/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 40%;
  margin: 50px 0px 50px 16rem;
}
.column2 {
  float: left;
  width: 25%;
  margin: 50px 16rem 50px 65px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.isolated {
  font-family: 'Righteous', sans-serif;
  color: #60CBFF;
  font-size: 96px;
  line-height: 100px;
  margin: 0 0 0 650px;
  width: 1000px;
}
.map {
  position: absolute;
  top: 800px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 4050px auto 200px auto;
}
.map img {
  width: 900px;
}

.changes {
  margin-top: 1100px;
  margin-bottom: 200px;
  width: 1000px;
}
.access{
  margin-top: 500px;
  margin-bottom: 200px;
  width: 1100px;
}
.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}
/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
}





.block {
  height: 5em;
  line-height: 5em;
  width: 10em;
  color: pink;
  text-align: center;
  margin: 1em auto;
}

.animatable {
  
  /* initially hide animatable objects */
  visibility: hidden;
  
  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;   
  -moz-animation-play-state: paused;     
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;   
  animation-play-state: paused; 
}

/* show objects being animated */
.animate-in {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

.animate-out {
  visibility: visible;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;

  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;

  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse;
}

.animate-out:after {
  content: '';
  letter-spacing: inherit;
}


@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-in.animationDelay, .animate-out.animationDelay {
	animation-delay:.4s;
	-webkit-animation-delay:.4s;
}
.animate-in.animationDelayMed, .animate-out.animationDelayMed {
	animation-delay:1.2s;
	-webkit-animation-delay:1.2s;
}
.animate-in.animationDelayLong, .animate-out.animationDelayLong {
	animation-delay:1.6s;
	-webkit-animation-delay:1.6s;
}
.animate-in.fadeInUp, .animate-out.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

/*cicle*/
svg.radial-progress{
  height:auto;
  max-width:350px;
  padding:0;
  transform:rotate(-90deg);
  width:100%;
  border-radius:50%;
  margin-left: 16rem;
  float: left;
}
section.svg-container svg.radial-progress:nth-child(even) {
  margin: 0 15px;
}
svg.radial-progress circle{
  fill:transparent;stroke:#60CBFF;
}
svg.radial-progress circle.bar-static{
  stroke:#60CBFF!important;
}
svg.radial-progress circle.bar--animated{
  stroke-dasharray:219.91148575129;
  stroke:#3664F4;
  stroke-dashoffset:219.91148575129;
  stroke-width:6px;
  stroke-linecap:round;
}
svg.radial-progress text{
  fill:#3664F4;
  font-family: 'Righteous', sans-serif;
  font-size:22px;
  font-weight:700;
  text-anchor:middle;
}




/*Subscribe*/

.subscribe-button {
	background-color:#ff7c1f;
	border:0;
	padding:10px 0px;
	width:90px;
	color:white;
	cursor:pointer;
	position:relative;
  transition:0.4s all;

  width: 255px;
  height: 70px;
  font-family: 'Righteous', sans-serif;
  font-size: 32px;
  border-radius: .25em;
  color: white;
  margin: 0px 0px -10px -5px !important;
  
}

input {
	border:0;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
	padding:10px 20px;
  width:250px;
  height:70px;
  border-radius: .25em;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
	transition: 0.3s width cubic-bezier(0.40, 0, 0.50, 1.30);
}


.subscribe-button:after {
    content:'';
    width: 100%;
    height: 0;
	position:absolute;
	top:50%;
	left:0;
    background: rgba(255,255,255,0.3);
    opacity: 0;
	transition:0.2s all;
}

.subscribe-button:hover:after{
	line-height:36px;
		top:0;
	 height: 100%;
    opacity: 1;
}

.subscribe-button.iconize:hover:after{
    opacity: 0;
}

.subscribe-label {
	border:0;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
	padding:10px 13px;
	vertical-align:middle;
  background:white;
  
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: .25em;
  margin: -7px -5px 0px 0px !important;
}

input:focus{
  width:300px;
}

.orange{
	color:#ff7c1f !important;
}


.x1p4{
	zoom:1.4;
}

@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); } }
.ion-loading-a { -webkit-animation-timing-function: steps(8, start); -moz-animation-timing-function: steps(8, start); animation-timing-function: steps(8, start); }


.spin{
	    animation: spin 1s infinite linear;
}

.iconize{
	width:60px;
}
.right-indent{
  margin-left: 16rem;
}
/* Footer */
.site-footer {
  background-color:#3664F4;
  padding:45px 0 20px;
  font-size:20px;
  line-height:36px;
  color:#fff;
  font-family: 'Lato', sans-serif;
  margin-top: 50px;
}
.site-footer p {
  font-size:18px;
  line-height:22px;
  width: 450px;
}
.site-footer hr {
  border-top-color:#fff;
  opacity:0.5
}
.site-footer hr.small {
  margin:20px 0
}
.site-footer h6 {
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a {
  color:#fff;
}
.site-footer a:hover {
  color:#ff7c1f;
  text-decoration:none;
}
.footer-links {
  padding-left:0;
  list-style:none
}
.footer-links li {
  display:block
}
.footer-links a {
  color:#fff
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover {
  color:#ff7c1f;
  text-decoration:none;
}
.footer-links.inline li {
  display:inline-block
}
.site-footer .social-icons {
  text-align:right
}
.site-footer .social-icons a {
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text {
  margin:0
}
@media (max-width:991px) {
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px) {
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons {
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li {
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title {
  margin-right:15px;
  text-transform:uppercase;
  color:#fff;
  font-weight:700;
  font-size:13px
}
.social-icons a {
  background-color:#eceeef;
  color:#fff;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover {
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a {
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover {
  background-color:#3b5998
}
.social-icons a.twitter:hover {
  background-color:#00aced
}
.social-icons a.instagram:hover {
  background-color:#dd2a7b
}
.social-icons a.email:hover {
  background-color:#8134af
}
@media (max-width:767px) {
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}



​
/* Caroline End */

/* Caylee Start */

.textScroll {
  position: relative;
  height: 150px;
  overflow:hidden;
  margin: 5px auto 0px auto;
}
.visible {

  overflow:hidden;
  height:150px;
  padding:0 0px;

  &:before {
    content:'[';
    left: 0;
    line-height:40px;
  }
  &:after {
    content:']';
    position:absolute;
    right: 0;
    line-height:40px;
  }
  &:after, &:before {
    position:absolute;
    top:0;
    color:#16a085;
    font-size:42px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;

  }
}

.visible ul {
  margin-top:0;
  padding-left: 0px;
  text-align:left;
  list-style:none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.visible ul li {
  line-height:150px;
  margin:0;
}

@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}
} 
.bubble1 {
  width: 466px;
  margin: 100px auto 0px 16rem;
}
.bubble1 h6 {
  margin-left: 30px;
  margin-top: 25px;
}

#accessBubbles h5 {
  font-family: 'Righteous', sans-serif;
  color: #002BB4;
  font-size: 64px;
  line-height: 55px;
  margin-top: -180px;
  margin-left: 30px;
}
#accessBubbles h6 {
  font-family: 'lato', sans-serif;
  font-size: 24px;
  width: 300px;
}
.bubble2 {
  width: 466px;
  margin: -150px 16rem 75px 800px;
}
.bubble2 h5 {
  padding-top: 40px;
  margin-bottom: 175px;
}
.bubble2 h6 {
  margin-left: 28px;
  margin-top: -100px;
}
.bubble3 {
  width: 466px;
  margin: -150px auto 0px 16rem;
}
.bubble3 h5 {
  padding-left: 100px;
}
.bubble3 h6{
  margin-left: 130px;
  margin-top: 25px;
}
.bubble4 {
  width: 466px;
  margin: -150px 16rem 75px 800px;
}
.bubble4 h5 {
  padding-top: 40px;
  margin-bottom: 125px;
}
.bubble4 h6 {
  margin-left: 28px;
  margin-top: -100px;
}

/* Caylee End */

/* Jay Start */
.share1 img{
  width: 466px;
  margin: 100px auto 0px 16rem;
}
.share2 img{
  width: 466px;
  margin: -150px 16rem 75px 800px;
}
.share3 img{
  width: 466px;
  margin: -150px auto 0px 16rem;
}

/* Jay End */
